* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #AC7B88;
    color: white;
    font-family: Cormorant, sans-serif;
    font-size: 20px;
}

.logo {
    margin-left: 20px; 
}

.logo img {
    transition: transform 0.3s ease; 
}

.logo img:hover {
    transform: scale(1.05);
}


.navLinks {
    list-style: none;
    display: flex;
    gap: 100px;
}

.navLinks li {
    display: inline;
}

.navLinks a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navLinks a:hover {
    color:#AC7B88;
    background-color: white;
    border-radius: 20px;
}

.login {
    margin-right: 20px; 
}

.button button {
    background-color: #AC7B88;
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 25px;
    font-family: Cormorant, sans-serif;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.button button:hover {
    background-color: white;
    color: #AC7B88;
}


.Bienvenida {
    position: relative;
    background-image: url('https://res.cloudinary.com/dxdcsjptd/image/upload/e_gen_restore/v1744544245/bienvenida_dcytvx.png'); /* Reemplaza con la URL de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la sección */
    background-position: center; /* Centra la  en la pantalla */
    height: 100vh; /* La altura será igual a la altura de la ventana */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Centra el contenido verticalmente */
    color: white; /* El texto será blanco */
    text-align: center; /* Centra el texto dentro de su contenedor */
    padding: 20px 20px 50px; /* Espacio a los lados de la sección */
    overflow: hidden; /* Evita que el contenido se desborde de la sección */
}

/* Estilo para el texto "Explora el mundo" */
.explora-texto {
    font-family: 'Playfair Display', serif; /* Aplica la fuente Playfair Display */
    font-size: 6rem; /* Tamaño de la fuente */
    font-style: italic; /* Aplica la cursiva */
    margin: 0; /* Elimina los márgenes para que no haya espacio extra */
}

/* Estilo para el texto "Crea recuerdos inolvidables" */
.recuerdos-texto {
    font-family: 'Playfair Display', serif; /* Aplica la fuente Playfair Display */
    font-size: 6rem; /* Tamaño de la fuente */
    font-style: italic; /* Aplica la cursiva */
    margin: 0; /* Elimina los márgenes para que no haya espacio extra */
    padding-top: 10px; /* Un pequeño espacio entre líneas */
}

/* Estilo para el texto "HAPPY TRAVEL" con Cormorant */
.happy-travel-texto {
    font-family: 'Cormorant', serif; /* Aplica la fuente Cormorant */
    font-size: 6rem; /* Tamaño de la fuente más grande */
    font-weight: bold; /* Hace que el texto sea en negrita */
    margin: 0; /* Elimina los márgenes para que no haya espacio extra */
    padding-top: 10px; /* Un pequeño espacio entre líneas */
}

/* Estilo para el botón "Planifica tu viaje" */
.Planifica-btn {
    position: relative;
    background-color: transparent; /* Fondo rosa claro para el botón */
    color: white; /* Texto blanco */
    border: 2px solid white;  /* Sin borde visible */
    padding: 20px 40px; 
    font-family: 'Cormorant', serif;/* Espacio dentro del botón, ajustable */
    font-size: 30px;
    font-weight: 400; /* Tamaño de la fuente del botón */
    border-radius: 40px; /* Bordes redondeados */
    cursor: pointer; /* El cursor cambia al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Efecto de transición suave cuando se cambia el color de fondo */
}

/* Estilo cuando el cursor está sobre el botón */
.Planifica-btn:hover {
    background-color: white !important;
    color: #7BAC9F  !important;
}


/* Degradado hacia blanco en la parte inferior de la imagen */
.Bienvenida::after {
    content: ''; /* Necesario para crear un pseudo-elemento */
    position: absolute; /* Posición absoluta para que se ubique en la parte inferior de la sección */
    bottom: 0; /* Alinea el pseudo-elemento al fondo */
    left: 0; /* Alinea al lado izquierdo */
    right: 0; /* Alinea al lado derecho */
    height: 300px; /* Establece la altura del degradado */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
 /* Crea un degradado de transparente a blanco */
}

.smile img {
    width: 95px; /* Ajusta el valor según el tamaño deseado */
    height: auto; 
    padding-top: 10px;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}
.smile img:hover {
    transform: scale(1.05); /* Escala la imagen al pasar el cursor */
}

.carrusel {
    position: relative;
    width: 100%;
    max-width: 960px; /* Ajusta el valor según el tamaño deseado */
    margin: 0 auto; 
    margin-top: 50px; /* Espacio superior */
    display: flex;
    justify-content: center;
    align-items: center;/* Permite el desplazamiento horizontal */
    gap: 30px; /* Espacio entre las imágenes */
    padding: 40px 0;
    flex-wrap: wrap; /* Espacio alrededor del carrusel */
}

.fotosdestinos {
    display: flex;
    gap: 40px;/* Permite que las imágenes se ajusten en varias filas */
}

.fotosdestinos img {
    width: 250px; /* Ajusta el valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción */
    border-radius: 25px; /* Bordes redondeados */
    transition: transform 0.3s ease; /* Efecto de transición suave al escalar */
}

.carrusel img:hover {
    transform: scale(1.05); /* Escala la imagen al pasar el cursor */
}

.btn-flechas {
    position: absolute; /* Centra verticalmente */
    width: 20px;
    height: auto;
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    transition: transform 0.3s ease; 
}

.btn-flechas img {
    width: 40px; 
}
.btn-flechas:hover {
    transform: scale(1.1); /* Escala la flecha al pasar el cursor */
}
.FlechaIzquierda {
    left: -30px; 
}

.FlechaDerecha {
    right: -10px; 
}

.descubrir-destinos {
    text-align: center; /* Centra el contenido del botón */
    margin-top: 30px;  /* Espacio superior para separar del carrusel */
}

.descubrir-btn {
    position: relative;
    background-color: white; /* Fondo blanco */
    color: #AC7B88; /* Texto rosa */
    border: 2px solid #AC7B88; /* Borde rosa */
    padding: 20px 40px;
    font-family: 'Cormorant', serif; /* Fuente que ya estás usando */
    font-size: 30px;
    font-weight: 400;
    border-radius: 40px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-bottom: 70px;/* Transición suave para fondo y texto */
}

.descubrir-btn:hover {
    background-color: #AC7B88; /* Fondo rosa al pasar el mouse */
    color: white; /* Texto blanco */
}

a.descubrir-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
}


footer {
    background-color: #AC7B88; 
    padding: 20px 0;
    text-align: center;

}


.footer-icons {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-bottom: 15px; 
}

.footer-icons a img {
    width: 30px; 
    height: auto;
    transition: transform 0.3s ease;
}


.footer-icons a:hover img {
    transform: scale(1.1); 
}


.separator {
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid white; 
    margin-bottom: 15px; 
}


.copyright {
    font-family: Cormorant, sans-serif;
    font-size: 20px;
    color: white;
    
}


.botones-superiores {
    display: flex; /* Usamos flex para alinear los botones en una fila */
    justify-content: space-evenly; /* Asegura que haya más espacio entre los botones */
    gap: 400px; /* Controla la separación entre los botones */ /* Limita el ancho del contenedor (ajusta este valor según lo necesites) */
    margin: 20px auto; /* Agrega espacio superior e inferior si es necesario */
}

.boton-filtro {
  all: unset; /* Limpia todo el estilo por defecto del botón */
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #7BAC9F;
  border-radius: 30px;
  padding: 10px 10px;
  font-family: 'Cormorant', serif;
  font-size: 22px;
  color: #7BAC9F;
  cursor: pointer;
  gap: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content; /* Solo ocupa el ancho necesario */
  margin-top: 30px; /* Separación desde arriba */
}

.boton-filtro:hover {
  background-color: #7BAC9F;
  color: white;
}

.icono-boton {
  width: 30px;
  height: 30px;
}

.boton-filtro:hover .icono-boton {
  filter: brightness(0) invert(1);
  transition: filter 0.3s; /* Cambia el color de la imagen para mejorar la visibilidad */
}

.barra-vertical {
  justify-content: flex-start;
  height: 30px;
  width: 2px;
  background-color: #7BAC9F;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.boton-filtro:hover .barra-vertical {
  background-color: white;
}

.texto-boton {
  margin: 0 10px;
}

/* Estilo del botón a la derecha */
.boton-buscar {
  all: unset; /* Limpia todo el estilo por defecto del botón */
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #7BAC9F;
  border-radius: 30px;
  padding: 10px 10px;
  font-family: 'Cormorant', serif;
  font-size: 22px;
  color: #7BAC9F;
  cursor: pointer;
  gap: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content; /* Solo ocupa el ancho necesario */
  margin-left: 0; /* Sin margen a la izquierda, alineado con el flexbox */
  margin-top: 30px; /* Separación desde arriba */
}

.boton-buscar:hover {
  background-color: #7BAC9F;
  color: white;
}

.boton-buscar:hover .icono-boton {
  filter: brightness(0) invert(1); /* Cambia el color del icono */
}

.boton-buscar .barra-vertical {
  justify-content: flex-start;
  height: 30px;
  width: 2px;
  background-color: #7BAC9F;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.boton-buscar:hover .barra-vertical {
  background-color: white;
}

.boton-buscar .texto-boton {
  margin: 0 10px;
}

.barra-horizontal {
    width: 80%; /* La barra ocupará el 80% del ancho del contenedor */
    height: 2px; /* Alto de la barra */
    background-color: #7BAC9F; /* Color verde */
    margin: 20px auto; /* Centra la barra debajo de los botones */
    border-radius: 10px; /* Bordes redondeados si lo prefieres */
}


.destinos-galeria {
    padding: 50px;
    background-color: #f9f9f9;
}

.grid-destinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    max-width: 1000px;
    margin: 0 auto;
}

.destino img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.destino img:hover {
    transform: scale(1.05);
}



.paginacontacto {  
  font-family: 'Cormorant', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
  min-height: 100vh;
  background-color: #ffffff;
  gap: 3rem;
}

.contacto h2 {
  font-size: 2.3rem;
  text-align: center;
  font-weight: 400;
  color: #AC7B88;
  margin: 0;
}

.contacto h2 span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

/* Contenedor general del formulario + info */
.formulario-contenedor {
  background-color: #7BAC9F;
  border-radius: 50px;
  padding: 4rem;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

/* Formulario */
.formulario {
  background-color: #BDCEC9; /* 50% de opacidad */
  border-radius: 40px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  min-width: 400px;
}

.formulario label {
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 30px;
}

.formulario input,
.formulario textarea {
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: #E6E6E6;
  font-family: 'Cormorant', serif;
  resize: none;
}

.formulario button {
  align-self: flex-start;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  background-color: #E6E6E6;
  color: #7BAC9F;
  border: none;
  border-radius: 15px;
  font-family: 'Cormorant', serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #d0d0d0;
}

/* Info de contacto */
.informacion-contacto {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0 1rem;
}

.informacion-contacto h3 {
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0,5rem;
}

.informacion-contacto p {
  font-size: 1.2rem;
  line-height: 1.8; /* más espacio entre líneas */
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 0;
  margin-left: 4rem; ;
}

.icono {
  width: 22px;
  height: 22px;
}

.cara {
  margin-top: 2rem;
  width: 100px;
  align-self: center;
}
